<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página inicial</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        background-color: rgb(185, 185, 185);
      }
      .menu {
        background-color: aliceblue;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <nav class="menu">
      <img
        src="https://cdn-icons-png.flaticon.com/512/4552/4552953.png"
        alt="Logo"
      />
      <ul>
        <a href="/">Home</a>
      </ul>
    </nav>
  </body>
</html>
